In [1]:
# Importing required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [4]:
# Importing the training dataset using pandas dataframe
train = pd.read_excel(r'C:\Users\shahr\OneDrive\Desktop\GithubRepositories\Prediction-of-Flight-Price\Data_Train.xlsx')

# To display all the columns when showing the dataset
pd.set_option('display.max_columns',None)

In [5]:
# Take a look at the head of the data
train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [6]:
# Checking the type of data in each columns

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

The 'price' is the dependent variable and all other columns are independent variables, which are in string format.

In [9]:
# Shape of dataframe
train.shape

(10683, 11)

In [13]:
# Dropping the nan values in the dataset

train.dropna(inplace = True)

train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

### Exploratory Data Analysis

As the first step, there are some features that are in string format but there are valuable information that can be extracted from them. For these features, it is needed to convert datatype to timestamp by using pandas to_datetime.


From the 'Date_of_Journey' we can take out the 'day' and 'month' that are valuable information.

From 'Arrival_Time' we can extract 'hour', 'day', and 'month'.

From 'Dep_Time' we can extract the 'hour' and 'minute' separately.

In [15]:
# Analyzing 'Date_of_Journey' and taking out 'day of journey' and 'month of journey'.
# .dt.day method will extract only the day of a specific date
# .dt.month method will extract only month of a specific date

train['Journey_day'] = pd.to_datetime(train['Date_of_Journey'], format = '%d/%m/%Y').dt.day
train['Journey_month'] = pd.to_datetime(train['Date_of_Journey'], format = '%d/%m/%Y').dt.month
train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3

From the feature 'Date_of_Journey' we extracted the valuable information of day and month of the journey. Here we have only the data of year 2019, so we don't need the year of journey as a new feature. Now, we can remove the feature of 'Date_of_Journey' as it is converted into integers of 'Journey_day' and 'Journey_month'. We need to do the same with the test set.

In [17]:
# Dropping the 'Date_of_Journey'
train.drop(['Date_of_Journey'], axis=1, inplace= True)

In [18]:
# Analyzing 'Dep_Time' and taking out 'hour' and 'minute'.
# .dt.hour method will extract only the hour of a specific time
# .dt.minute method will extract only minute of a specific time

train['Dep_hour'] = pd.to_datetime(train['Dep_Time']).dt.hour
train['Dep_minute'] = pd.to_datetime(train['Dep_Time']).dt.minute

# After extracting hour and minute, it is possible to drop 'Dep_Time' feature
train.drop('Dep_Time', axis =1, inplace = True)

In [19]:
train.head()

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Dep_hour,Dep_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,1,5,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,9,6,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,6218,12,5,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,13302,1,3,16,50

In [20]:
# Analyzing 'Arrival_Time' and taking out 'hour' and 'minute'.

train['Arrival_hour'] = pd.to_datetime(train['Arrival_Time']).dt.hour
train['Arrival_min'] = pd.to_datetime(train['Arrival_Time']).dt.minute

# After extracting hour and minute, it is possible to drop 'Arrival_Time' feature
train.drop('Arrival_Time', axis=1,inplace=True)

In [21]:
train.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Dep_hour,Dep_minute,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,16,50,21,35

So far, we analyzed three features of 'Date_of_Journey', 'Dep_Time', and 'Arrival_Time'. As the next step, the feature of 'Duration' is analyzed.

Due to the format of 'Duration' feature, it is needed to convert data into a suitable format to extract duration hours and duration minutes.

In [28]:
# Assigning and converting duration column into list

duration = list(train['Duration'])

for i in range(len(duration)):
    if len(duration[i].split()) != 2:
        if 'h' in duration[i]:
            duration[i] = duration[i].strip() + ' ' +'0m' #Adding 0 minute to unify the format of duration
        else:
            duration[i] = '0h' + ' ' + duration[i] #Adding 0 hour to unify the format of duration

duration_hours = []
duration_minutes = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep = 'h')[0]))
    duration_minutes.append(int(duration[i].split(sep = 'm')[0].split()[-1]))

In [29]:
# Adding 'duration_hours' and 'duration_minutes' to the dataset.

train['Duration_hours'] = duration_hours
train['Duration_minutes'] = duration_minutes

# After extracting hour and minute, it is possible to drop 'Duration' feature
train.drop('Duration', axis=1,inplace=True)

train.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Dep_hour,Dep_minute,Arrival_hour,Arrival_min,Duration_hours,Duration_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,16,50,21,35,4,45

In [38]:
# Analyzing the feature of 'Total_Stops'. 
# I extracted the number in the string and saved as a new column and removed the previous one.

total_stops = list(train['Total_Stops'])
number_stops = []
# Getting the unique values of the list
print(set(total_stops))

for i in range(len(total_stops)):
    
    if total_stops[i] == 'non-stop':
        
        number_stops.append(0)
        
    else:
        number_stops.append(int(total_stops[i].split()[0]))
        

train['number_stops'] = number_stops
train.drop('Total_Stops',axis=1,inplace=True)
train.head()

{'1 stop', '4 stops', '2 stops', 'non-stop', '3 stops'}

,Airline,Source,Destination,Route,Additional_Info,Price,Journey_day,Journey_month,Dep_hour,Dep_minute,Arrival_hour,Arrival_min,Duration_hours,Duration_minutes,number_stops
0,IndiGo,Banglore,New Delhi,BLR → DEL,No info,3897,24,3,22,20,1,10,2,50,0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,No info,7662,1,5,5,50,13,15,7,25,2
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,No info,13882,9,6,9,25,4,25,19,0,2
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,No info,6218,12,5,18,5,23,30,5,25,1
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,No info,13302,1,3,16,50,21,35,4,45,1

#### Handling Categorical Features

Categorical features are in two types of 'Nominal data' and 'Ordinal data'.
1. The order of data is not important in 'Nominal' features and in this case 'OneHotEncoder' is used for handling it (like the destination, airline, and  source features of the given dataset).


2. The order of data is important in 'Ordinal' features and in this case 'LabelEncoder' is used to handle it.

In [39]:
# Analyzing 'Airline' feature. This feature is a Nominal categorical feature
#that we can use onehotencoder for analyzing it.

train['Airline'].value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64